<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Little Price</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">

     <!-- FontAwesome -->

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  </head>
  <body>
 <!-- Static navbar -->
   <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/home/"><img src="/media/imagenes/logos/logocinealtiro.jpg"></a>     
        
            </div>
            {% if user.is_authenticated %}
              <div id = "navbar1" class="navbar-collapse collapse">
                  <!-- IZQUERDA -->
                  <ul class="nav navbar-nav">
                  <li><a href="/supermercados"><i>Supermercados</i></a></li>
                  <li><a href="/lista_productos"><i>Productos</i></a></li>                  
                  <li><a href="/ingresar_producto"><i>Ingresar producto</i></a></li>
                  <li><a href="/mis_productos"><i>Mis productos</i></a></li>
                  <li><a href="/grafico"><i>Graficos</i></a></li>
                      <li class="dropdown">
                  </ul>
                  <!-- DERECHA -->
                  <ul class="nav navbar-nav navbar-right">
                  <li>  <a href="/perfil"><strong><i>Bienvenido {{user.username|capfirst}}</strong> </i></a></li>        
                  <li>  <a href="/accounts/logout"><i>Salir</i></a></li>
                  
                </ul>
              </div><!--/.nav-collapse -->

            
            {% else %}
            <div id = "navbar1" class="navbar-collapse collapse">
              <!-- IZQUERDA -->
              <ul class="nav navbar-nav">
                  <li><a href="/supermercados"><i>Supermercados</i></a></li>
                  <li><a href="/lista_productos"><i>Productos</i></a></li> 
                  <li><a href="/grafico"><i>Graficos</i></a></li>     
                  <li class="dropdown">
              </ul>
              <!-- DERECHA -->
              <ul class="nav navbar-nav navbar-right">      
                  <li><a href="/accounts/register"><i>Inscríbete</i></a></li>
                  <li><a href="/accounts/login"><i>Ingresar</i></a></li>
              </ul>
            </div><!--/.nav-collapse -->
            {% endif %}
          </div>
      </nav>

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
   
<h3 class="sub-header">Nuevo producto</h3>

<form action="/ingresar_producto/" method="post">{% csrf_token %}
  <ul>
    <ul>Precio: {{ form.precio }} </ul>
    <ul>Producto: {{ form.id_producto }} </ul>
    <ul>Supermercado: {{ form.id_supermercado }} </ul>
  </ul>
  <input type="submit" name="guardar" value="Guardar">  
</form>
</div>
{% endblock %}
 <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
     {{ form.media }}
 

  </body>
</html>